# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.next

# testing
/coverage
/test
test/
*.test

# next.js
/.next/
/out/

# production
/build
*.production

# misc
.DS_Store
*.pem
.well-known/
farcaster.json
.idea


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Redis
dump.rdb
